// Colors
$white: white;
$light: #f1f3f4;
$dark: #202124;
$black: black;
$gray: gray;

// Theme colors : pinktheme, bluetheme... refer to colors.scss
$pink: #fce4ec;
$blue: #e0f7fa;
$green: #dcedc8;
$teal: #b2ebf2;
$brown: #efebe9;
$coal: white;

// Dark mode colors: what to switch to. pinktheme will take monopink
$monopink: #272730;
$monoblue: #2f2f35;
$monogreen: #4e4e52;
$monoteal: #606063;
$monobrown: #1b1b1f;
$monocoal: #282c35;
