// fonts to use as class
body {
  font-family: "Inter", sans-serif;
}
.cursivefont {
  font-family: "Dancing Script", cursive;
}

.condensedfont {
  font-family: "Open Sans Condensed", sans-serif;
}

.textfont {
  font-family: "Inter", sans-serif;
}

.monofont {
  font-family: "Courier Prime", monospace;
}

.seriffont {
  font-family: "Newsreader", serif;
}
